<h1>Show me the pitches bitches</h1>
BODY OF PITCH:
</br>
<%= @pitch.body %>
</br>
EDIT PITCH
<%= link_to 'Edit this pitch', edit_story_pitch_path(@story, @pitch) %>
</br>
<%= link_to 'Delete this pitch', story_pitch_path(@story, @pitch), method: :delete, data: { confirm: "Are you sure you want to delete this pitch? It can't be undone!"  } %>

<%= link_to 'back', :back %>
