
<h1>Hey, <%= @user.first_name %>!</h1>
<br>



</br>
<%= link_to('Make a New Story', new_story_path) %>
<br>
<%= link_to( "Edit your profile", edit_user_path ) %>
<br>
<%= link_to 'Delete Account', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
